<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My blog</a></h1>
        </header>
        <article>
            <time>published: 04/07/2021</time>
            <h2><a href="">My first post</a></h2>
            <p>Nothing interesting to say.</p>
        </article>

        <article>
            <time>published: 04/07/2021</time>
            <h2><a href=""">My second post</a></h2>
            <p>Nothing too interesting here either.</p>
        </article>
    </body>
</html>
